<nav>
  <div class="menu">
    <div class="logo">
      <img src="../assets/image.png" />
      <a href="#">OsAlgo</a>
    </div>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="#">Feedback</a></li>
    </ul>
  </div>
</nav>
<video playsinline autoplay muted loop poster="../assets/image1.jpg" id="bgvid">
  <source src="../assets/backvid.mp4" type="video/mp4" />
</video>

<!-- <div class="title">
    <p>OS Lab</p>
</div> -->
<div class="text">
  <div class="center-text">Virtual Lab of OS!</div>
  <div class="center1-text">System Algo Simulator</div>
</div>

<div class="center">
  <div class="btns">
    <button (click)="rrpage('rrsimul')">Let's Try</button>
  </div>
</div>